{% extends "account/base.html" %}

{% block head_title %}Reset Password{% endblock %}

{% block account_content %}
    <h1 class="account__heading">Check Your Email</h1>

    <p>We've sent a password reset link to your email address. Please check your email and click the link to reset your password.</p>

    <p>If you don't see the email, check your spam folder or try resetting your password again.</p>

    <div class="account__links">
        <p>
            <a href="{% url 'account_login' %}" class="account__link">Back to Log In</a>
        </p>
    </div>
{% endblock %}
