{% extends "account/email/base_message.html" %}
{% block heading %}Welcome to Uncorked!{% endblock heading %}
{% block content %}
        <p>Please confirm your email address to finish creating your account.</p>
        {% if code %}
        <p>Your confirmation code: <strong>{{ code }}</strong></p>
        {% else %}
        <p><a href="{{ activate_url }}" class="button">Confirm my email</a></p>
        <p class="note">Or copy this link into your browser:<br><a href="{{ activate_url }}" class="link">{{ activate_url }}</a></p>
        {% endif %}
        <p class="note">This link expires in {{ confirmation_expiry }}.</p>
        <p>If you didn't sign up, you can ignore this email.</p>
{% endblock content %}
