{% extends "account/email/base_message.html" %}
{% block heading %}Reset your password{% endblock heading %}
{% block content %}
        <p>We received a request to reset the password for your Uncorked account.</p>
        <p><a href="{{ password_reset_url }}" class="button">Choose a new password</a></p>
        <p class="note">Or copy this link into your browser:<br><a href="{{ password_reset_url }}" class="link">{{ password_reset_url }}</a></p>
        <p class="note">This link expires in {{ password_reset_expiry }}.</p>
        <p>If you didn't ask for a new password, you can ignore this email. Your password won't change.</p>
{% endblock content %}
